.player-area{
    display: flex;
    align-items: center;
    width: 280px;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    background-color: rgba(255, 255, 255, 0.8);
    position: relative;
    z-index: 2;
    
    span{
        font-size: 24px;
        margin-left: 12px;
    }

    img{
        width: 40px;
        height: 40px;
        border-radius: 50%;
        object-fit: cover;
    }
}

.player-active{
    background-color: rgba(221, 77, 77, 0.8);
}